<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/csintegrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"s/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->


    <!--  -->

    <link rel="stylesheet" href="\static\css\Home1.css" />
    <!-- "static\css\Home1.css" -->
    <link rel="stylesheet" href="\static\css\Home2.css">
    <!-- "static\css\Home2.css" -->
    <link rel="stylesheet" href="\static\css\Home3.css">
    <!-- "static\css\Home3.css" -->

    <title>LearnCoding</title>
</head>

<body>



    <!-- navbar -->
    <nav class="navbar navbar-expand-lg  navbar-light" style="background-color:rgb(167, 172, 172)">
        <a class="navbar-brand" href="Home.html">LearnCoding</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home">Home</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Domains
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                        style="background-color: rgb(207, 199, 187);">
                        <a class="dropdown-item"
                            href="https://learn.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/">Data
                            Science</a>
                        <a class="dropdown-item" href="https://cloud.google.com/document-ai">Artificial Intelligence</a>
                        <a class="dropdown-item"
                            href="https://learn.microsoft.com/en-us/azure/machine-learning/">Machine
                            Learning</a>
                        <a class="dropdown-item" href="https://learn.microsoft.com/en-us/azure/machine-learning/">Deep
                            Learning</a>
                        <a class="dropdown-item"
                            href="https://essentialdata.com/cybersecurity-documentation/#:~:text=What%20is%20Cybersecurity%20Documentation%3F,but%20educates%20employees%20about%20them.">Cyber
                            Security</a>
                        <a class="dropdown-item" href="https://developer.mozilla.org/en-US/">Full Stack Web
                            Development</a>
                        <a class="dropdown-item"
                            href="#https://essentialdata.com/faqs-for-cloud-computing-documentation/">cloud
                            computing</a>
                        <a class="dropdown-item" href="https://developer.android.com/docs/">Android development</a>
                        <a class="dropdown-item" href="https://www.geeksforgeeks.org/">Other
                            domains</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Courses
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown"
                        style="background-color: rgb(207, 199, 187);">
                        <a class="dropdown-item" href="https://devdocs.io/c/">C</a>
                        <a class="dropdown-item" href="https://devdocs.io/cpp/">C++</a>
                        <a class="dropdown-item" href="https://docs.python.org/3/">Python</a>
                        <a class="dropdown-item" href="https://docs.oracle.com/javase/tutorial/">Java</a>
                        <a class="dropdown-item" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Java
                            Script</a>
                        <a class="dropdown-item"
                            href="https://www.ibm.com/docs/en/netezza?topic=reference-data-structure-documentation">Data
                            Structures</a>
                        <a class="dropdown-item" href="https://www.r-project.org/other-docs.html">R</a>
                        <a class="dropdown-item"
                            href="https://learn.microsoft.com/en-us/sql/?view=sql-server-ver16">SQL</a>
                        <a class="dropdown-item" href="https://www.geeksforgeeks.org/">Other
                            Languages</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Purchase">Purchase Plan</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a href="/"><button type="button" class="btn btn-danger"
                        style="margin-left:300px; border-radius: 100px; "><img src="\static\images\logout.png" alt="" style="height: 20px; width:20px; margin-bottom: 3px;"> Logout</button></a>
                </li>
                

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <!-- <a class="btn btn-primary" href="#" role="button" style="margin-left:3px;">Search</a> -->
                <img style="height:45px; width:45px; margin-left: 3px;" src="\static\images\two.png" class="rounded-circle" alt="">
            </form>

        </div>
    </nav>




    <!-- corousel -->
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" style="margin:5px;">

            <!-- "\static\images\m5.jpg" -->
            <div class="carousel-item active">
                <img class="d-block w-100" src="\static\images\m5.jpg" alt="First slide">
            </div>



            <div class="carousel-item">
                <img class="d-block w-100" src="\static\images\photo-1533740566848-5f7d3e04e3d7.jpg"
                    style="width:100vw; height:372px; " alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="\static\images\photo-1602080858428-57174f9431cf.jpg" alt="Third slide">
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>



    <!-- Third part -->
    <div class="third">
        <div class="card" style="margin-left:32px">
            <img class="card-img-top" src="\static\images\1.jpg" alt="Card image cap" style="width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">A data scientist's job is to analyze data for actionable insights.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="\static\images\2.jpg" alt="Card image cap" style=" width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Artificial intelligence (AI) refers to the simulation of human intelligence ......
                    <!-- and ways the data can be used to solve problems”</p> -->
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="\static\images\3.jpeg" alt="Card image cap"
                style=" width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text"> Machine learning is a subfield of artificial intelligence, which is broadly
                    defined ....</p>
            </div>
        </div>
        <hr>

        <div class="card" style="margin-left:32px;">
            <img class="card-img-top" src="\static\images\4.jpg" alt="Card image cap" style="width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Deep learning is a machine learning technique that teaches computers to do what comes naturally to humans
                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="\static\images\5.jpg" alt="Card image cap" style=" width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Cyber security is the practice of defending computers, servers, mobile devices,
                    electronic sys....</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="\static\images\6.jpg" alt="Card image cap" style="width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Full stack development refers to the end-to-end application software development,
                    including the front end and back end.
                </p>
            </div>
        </div>
        <hr>

        <div class="card" style="margin-left:32px;">
            <img class="card-img-top" id="bel" src="\static\images\7.jpg" alt="Card image cap"
                style=" width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Cloud computing is the on-demand availability of computer system resource......
                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" id="belo" src="\static\images\8.png" alt="Card image cap"
                style=" width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Android software development is the process by which applications are ....
                </p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" id="below" src="\static\images\9.jpg" alt="Card image cap"
                style=" width:28vw; height:180px">
            <div class="card-body">
                <p class="card-text">Broadly speaking, computer science can be divided into Theoretical Computer.......
                </p>
            </div>
        </div>
    </div>



    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-content">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <h3><i style="color:white;">LearnCoding</i>
                            </h3>
                            <p><a href="https://www.google.com/search?q=kukatpally+phase+9&rlz=1C1SQJL_enIN1009IN1009&tbm=lcl&ei=inm5Y4WcLaWeseMPwZuQkAg&oq=plot+505%2Ckphb+9th+phase%2Ckukatpally&gs_lcp=Cg1nd3Mtd2l6LWxvY2FsEAEYATIFCAAQogQyBQgAEKIEMgcIABAeEKIEMgUIABCiBDIFCAAQogRQAFgAYIITaABwAHgAgAG6AYgBugGSAQMwLjGYAQDAAQE&sclient=gws-wiz-local#rlfi=hd:;si:,17.485708584511926,78.38520887461972;mv:[[17.487027345777037,78.38759148044129],[17.484192781852645,78.38251674098511],null,[17.485610069336897,78.3850541107132],18]"
                                    style="color:white;">
                                    plotNo.505,9th phase,kukatpally, <br>
                                    hyderabad,India.<br><br></a>
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Home">Home</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://www.geeksforgeeks.org/">Courses</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://www.geeksforgeeks.org/">Domains</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/About">About Us</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="/Contact">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Our Courses</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://devdocs.io/c/">C</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://devdocs.io/cpp/">C++</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://docs.python.org/3/">Python</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://docs.oracle.com/en/java/">Java</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://devdocs.io/">Other Languages</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Our Domains</h4>
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <a
                                    href="https://learn.microsoft.com/en-us/azure/machine-learning/data-science-virtual-machine/">Data
                                    Science</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a
                                    href="https://cloud.google.com/document-ai">Artificial Intelligence</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a
                                    href="https://learn.microsoft.com/en-us/azure/machine-learning/">Machine
                                    Learning</a></li>
                            <li><i class="bi bi-chevron-right"></i> <a
                                    href="https://learn.microsoft.com/en-us/azure/machine-learning/">Deep Learning</a>
                            </li>
                            <li><i class="bi bi-chevron-right"></i> <a href="https://www.geeksforgeeks.org">Other
                                    domains</a></li>
                        </ul>
                    </div>



                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <p>
                            <h4 style="margin-top:20px; margin-left:20px;">CONTACT US</h4>
                            <img src="\static\icons\phone.png" alt="" style="margin-left:20px;">
                            <bold style="color:rgb(248, 247, 247);">+1889 9554 8855</bold><br>
                            <img src="\static\icons\email.png" alt="" style="margin-left:20px; margin-top:6px;">
                            <bold style="color:rgb(248, 247, 247); margin-top:20px; margin-left:5px;">
                                learncoding@trb.com</bold><br>
                            </p>
                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="footer-legal text-center">
            <div
                class="container d-flex flex-column flex-lg-row justify-content-center justify-content-lg-between align-items-center">

                <div class="d-flex flex-column align-items-center align-items-lg-start">
                    <div class="copyright"><strong style="color:rgb(240, 248, 255)">
                            Copyright&copy;LearnCoding@trb Pvt. Ltd.</strong>
                    </div>
                    <div class="credits">
                        Designed by <a href="#">@trb</a>
                    </div>
                </div>





                <div class="d-flex flex-column align-items-center align-items-lg-start">

                    <div class="credits">
                        <h6 style="margin-left:490px;">FOLLOW US</h6>
                    </div>
                </div>



                <div class="social-links order-first order-lg-last mb-3 mb-lg-0">
                    <a href="https://twitter.com/20r01a67h4" class="twitter"><i class="bi bi-twitter"><img
                                src="\static\icons\twi.png" style="height:28px; width:28px;" alt=""></i></a>
                    <a href="https://www.instagram.com/rahul_trb/" class="twitter"><i class="bi bi-twitter"><img
                                src="\static\icons\insta.png" style="height:28px; width:28px;" alt=""></i></a>
                    <a href="https://www.facebook.com/tenkati.rahulbabu.1" class="twitter"><i class="bi bi-twitter"><img
                                src="\static\icons\fac.png" style="height:28px; width:28px;" alt=""></i></a>
                    <a href="https://www.linkedin.com/in/tenkati-rahul-babu-898204211/" class="twitter"><i
                            class="bi bi-twitter"><img src="\static\icons\link.png" style="height:28px; width:28px;"
                                alt=""></i></a>
                </div>

            </div>
        </div>

    </footer><!-- End Footer -->









    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script> -->

    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
        integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
        crossorigin="anonymous"></script>

</body>

</html>